@import url("https://use.typekit.net/gjb5lfx.css");
/*****************************************
Table Of Contents:
  - Core Setup
  - Base Styles
  - Landing Page
  - Form
******************************************/

/**********************/
/*     Core Setup     */
/**********************/
.mask-fade {
  -webkit-mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
  mask-image: linear-gradient(to bottom, black 30%, transparent 90%);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  * {
    @apply antialiased scroll-smooth;
  }
}

/**********************/
/*     Typography     */
/**********************/
@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display text-lightest font-black mb-2
    transition-all duration-150 tracking-tight;
  }
  h1 {
    @apply text-3xl md:text-5xl;
  }
  h2 {
    @apply text-2xl md:text-4xl;
  }
  h3 {
    @apply text-xl md:text-3xl;
  }
  h4 {
    @apply text-base md:text-2xl;
  }
  h5 {
    @apply text-sm md:text-xl;
  }
  h6 {
    @apply font-bold text-xs md:text-base;
  }
  p {
    @apply font-body font-semibold text-light text-lg;
  }
  a {
    @apply font-bold text-accent hover:text-lightest;
  }
  hr {
    @apply border-lightest/20 mix-blend-overlay;
  }
  li {
    @apply font-bold text-lightest;
  }
}

@layer components {
  .social-icon-wrapper {
    @apply flex justify-center items-center bg-dark/30 shadow-sm hover:shadow-lg p-3 rounded-full w-10 h-10 transition-all hover:-translate-y-0.5 duration-150 overflow-hidden ease-in-out;
  }

  .tech-stack-wrapper {
    @apply flex justify-center items-center bg-dark/30 shadow-sm hover:shadow-lg p-3.5 rounded-full w-14 h-14 transition-all hover:-translate-y-0.5 duration-150 overflow-hidden ease-in-out;
  }

  .project-link-icon-wrapper {
    @apply group-hover:bg-white flex justify-center items-center bg-transparent group-hover:shadow-lg rounded-full w-8 h-8 overflow-hidden text-white transition-all duration-150 ease-in-out;
  }

  .nav-pill {
    @apply top-8 bg-dark/30 backdrop-blur-lg border border-lightest/10 
    rounded-full px-6 py-3 z-50 flex gap-x-6 shadow-lg;
  }

  .nav-link {
    @apply font-medium text-lightest/50 hover:text-lightest text-sm 
    transition-colors duration-150 relative;
  }

  .nav-link.active {
    @apply text-accent;
  }

  .nav-link.active::after {
    @apply content-[''] absolute -bottom-1 left-0 w-full h-0.5 
    bg-accent rounded-full;
  }
}
